
.price {
    display: flex;
    gap: 10px;
    justify-content: flex-start;
    align-items: center;
    width: 31%;
    margin: auto;
}

.priceBox {
    display: flex;
    align-content: center;
    flex-direction: row;
    display: flex;
    gap: 10px;
    justify-content: flex-start;
}